@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: Outfit
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: #C586A5;
    border-radius: 4px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    background-color: #ffebf5;
    border-color: #C586A5;
}